<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typing Test</title>
    <!-- import fontawesome -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="navbar-logo">
          <img src="../static/images/logo.png" alt="Logo" height="100" />
        </div>
        <h1 class="brand-title">Buna Time</h1>
        <div class="navbar-content">
          <a href="#">
            <img src="../static/images/user (1).png" alt="user" height="40" />
          </a>
        </div>
      </nav>
      <div class="toolbar">
        <div class="toolbar-item">15</div>
        <!-- Test Duration -->
        <div class="separator"></div>
        <div class="toolbar-item">30</div>
        <div class="separator"></div>
        <div class="toolbar-item">45</div>
        <div class="separator"></div>
        <div class="toolbar-item">60</div>
        <div class="selected-indicator"></div>
        <!-- Add more toolbar items as needed -->
      </div>
      <div class="typing-text">
          {{paragraph}}
      </div>
      <form id="typingForm" style="display: none;">
        <input type="hidden" id="typingSpeed" name="typingSpeed" value="">
        <input type="hidden" id="accuracy" name="accuracy" value="">
      </form>
      <footer class="footer">
        <a class="footer-left-side">
          <i class="fab fa-github"></i>
          GitHub
        </a>
        <div
          href="https://github.com/MichaelBirhanuGmichael/Buna_Time"
          class="footer-right-side"
        >
          Made with 💛 at the lab.
        </div>
      </footer>
    </div>
  </body>
</html>
